<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>YouAreHere</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>whatsapp</string>
      <string>mailto</string>
      <string>instagram</string>
      <string>instagram-stories</string>
      <string>fb</string>
      <string>facebook-stories</string>
    </array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>YouAreHere would like to access Your camera</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to the app&apos;s Documents folder for file management and storage.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Access the Downloads folder for importing files and documents.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>your location allows you to watch near by restaurants or place of your selected preference</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>your location allows you to watch near by restaurants or place of your selected preference</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We require access to the microphone for audio recording and processing.</string>
	<key>NSOpenAccessUsageDescription</key>
	<string>we require you open access usage description</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>YouAreHere would like to access Your Gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>YouAreHere would like to access Your Gallery</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>YouAreHere would like to access Your apple music</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
